.allfiles {
    /* background-color: black; */
    margin: 20px;
    height: 80vh;
    overflow-y: auto;
}

.nofile{
    background-image: url("../app/nofile.svg");
    width: 100%;
    height: 100vh;
}

.allfiles table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.allfiles th,
.allfiles td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
}

.allfiles th {
    background-color: black;
    color: white;
}


.allfiles tr {
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;
}


.allfiles td svg {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}